[Unit]
Description=EasyTG Cross Promo VK Bot
After=network.target mysql.service

[Service]
Type=simple
User=www-data
Group=www-data
WorkingDirectory=/home/username/easytg_cross_promo_bot
Environment=PATH=/home/username/easytg_cross_promo_bot/venv/bin
ExecStart=/home/username/easytg_cross_promo_bot/venv/bin/python vk_bot.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
